{% extends "base.html" %}
{% load static %}
{% block title %}
Accueil - Gabrielle
{% endblock %}

{% block content %}
<svg width="0" height="0" style="position: absolute;">
    <defs>
      <clipPath id="div-wave-up" clipPathUnits="objectBoundingBox">
        <path transform="scale(0.001, 0.00235)" 
        d="M1000,72.44C936.1,70.49,948.12-.29,878.83,0c-72.45.3-127.76,72.08-198.83,72.44C608.04,72.81,572.35.08,500,.36c-72.12.29-108.78,72.43-180,72.08C247.91,72.09,192.33-.29,120.49,0,57.7.25,72.07,72.09,0,72.44v352.93h1000V72.44Z"/>
      </clipPath>
    </defs>
</svg>
    <section id="vitrine">
        <div class="devise">
            <svg viewBox="0 0 1000 83.98">
        <defs>
            <style>
            .cls-1 {
                fill: var(--accent-color);
                font-family: 'Titre';
                font-size: 33px;
            }
            </style>
        </defs>
        <g data-name="Calque 2">
            <text class="cls-1" transform="translate(243.82 61.19) rotate(17.93)"><tspan x="0" y="0">B</tspan></text>
            <text class="cls-1" transform="translate(261.61 66.91) rotate(15.49)"><tspan x="0" y="0">r</tspan></text>
            <text class="cls-1" transform="translate(275.02 70.69) rotate(12.37)"><tspan x="0" y="0">a</tspan></text>
            <text class="cls-1" transform="translate(293.25 74.65) rotate(7.39)"><tspan x="0" y="0">n</tspan></text>
            <text class="cls-1" transform="translate(311.69 76.98) rotate(1.43)"><tspan x="0" y="0">d</tspan></text>
            <text class="cls-1" transform="translate(330.41 77.17) rotate(-3.89)"><tspan x="0" y="0">i</tspan></text>
            <text class="cls-1" transform="translate(341.2 76.54) rotate(-9.38)"><tspan x="0" y="0">n</tspan></text>
            <text class="cls-1" transform="translate(360.23 73.21) rotate(-15.88)"><tspan x="0" y="0">g</tspan></text>
            <text class="cls-1" transform="translate(377.18 68.17) rotate(-19.8)"><tspan x="0" y="0"> </tspan></text>
            <text class="cls-1" transform="translate(386.08 65.01) rotate(-22.58)"><tspan x="0" y="0">-</tspan></text>
            <text class="cls-1" transform="translate(401.29 58.59) rotate(-24.15)"><tspan x="0" y="0"> </tspan></text>
            <text class="cls-1" transform="translate(409.24 55.02) rotate(-24.54)"><tspan x="0" y="0">I</tspan></text>
            <text class="cls-1" transform="translate(418.6 50.74) rotate(-24.23)"><tspan x="0" y="0">l</tspan></text>
            <text class="cls-1" transform="translate(427.57 46.7) rotate(-23.19)"><tspan x="0" y="0">l</tspan></text>
            <text class="cls-1" transform="translate(435.14 43.34) rotate(-20.9)"><tspan x="0" y="0">u</tspan></text>
            <text class="cls-1" transform="translate(450.77 37.38) rotate(-16.65)"><tspan x="0" y="0">s</tspan></text>
            <text class="cls-1" transform="translate(464.39 33.31) rotate(-12.16)"><tspan x="0" y="0">t</tspan></text>
            <text class="cls-1" transform="translate(476.36 30.68) rotate(-7.31)"><tspan x="0" y="0">r</tspan></text>
            <text class="cls-1" transform="translate(488.84 28.95) rotate(-2.01)"><tspan x="0" y="0">a</tspan></text>
            <text class="cls-1" transform="translate(505.01 28.46) rotate(2.98)"><tspan x="0" y="0">t</tspan></text>
            <text class="cls-1" transform="translate(517.24 29.14) rotate(6.6)"><tspan x="0" y="0">i</tspan></text>
            <text class="cls-1" transform="translate(526.14 30.04) rotate(10.95)"><tspan x="0" y="0">o</tspan></text>
            <text class="cls-1" transform="translate(541.61 33.01) rotate(16.14)"><tspan x="0" y="0">n</tspan></text>
            <text class="cls-1" transform="translate(558.19 37.97) rotate(19.53)"><tspan x="0" y="0"> </tspan></text>
            <text class="cls-1" transform="translate(566.22 40.76) rotate(21.93)"><tspan x="0" y="0">-</tspan></text>
            <text class="cls-1" transform="translate(581.08 46.82) rotate(23.4)"><tspan x="0" y="0"> </tspan></text>
            <text class="cls-1" transform="translate(589.04 50.29) rotate(23.76)"><tspan x="0" y="0">W</tspan></text>
            <text class="cls-1" transform="translate(609.54 59.33) rotate(21.83)"><tspan x="0" y="0">e</tspan></text>
            <text class="cls-1" transform="translate(625.3 65.67) rotate(18)"><tspan x="0" y="0">b</tspan></text>
            <text class="cls-1" transform="translate(642.78 71.13) rotate(13.73)"><tspan x="0" y="0"> </tspan></text>
            <text class="cls-1" transform="translate(652.62 73.71) rotate(8.31)"><tspan x="0" y="0">D</tspan></text>
            <text class="cls-1" transform="translate(673.5 76.5) rotate(1.18)"><tspan x="0" y="0">e</tspan></text>
            <text class="cls-1" transform="translate(691.61 76.69) rotate(-5)"><tspan x="0" y="0">s</tspan></text>
            <text class="cls-1" transform="translate(707.83 75.09) rotate(-9.33)"><tspan x="0" y="0">i</tspan></text>
            <text class="cls-1" transform="translate(718.14 73.46) rotate(-13.36)"><tspan x="0" y="0">g</tspan></text>
            <text class="cls-1" transform="translate(735.36 69.29) rotate(-17.5)"><tspan x="0" y="0">n</tspan></text>
        </g>
            </svg>
        </div>
        <div class="vitrine-bloc">
            <div class="vitrine-container">
                <div class="vitrine-carousel-arrow left">
                    <div class="left-arrow"></div>
                </div>
                <div class="vitrine-carousel-container">
                    {% for item in featured_content %}
                        {% if item.visible_dans_les_realisations %}
                            <a href="{% url 'realisations' %}#{{ item.slug }}">
                        {% else %}
                            <a href="{% url 'portfolio' %}#{{ item.slug }}">
                        {% endif %}
                            <div class="vitrine-carousel-item {% if forloop.first %}active{% endif %}">
                                {% if item.featured_image %}
                                    <img src="{{ item.featured_image.image.url }}" alt="{{ item.featured_image.alt_text }}" oncontextmenu="return false;">
                                {% else %}
                                    {% if item.images.all %}
                                        <img src="{{ item.images.all.0.image.url }}" alt="{{ item.images.all.0.alt_text }}" oncontextmenu="return false;">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="vitrine-carousel-arrow right">
                    <div class="right-arrow"></div>
                </div>
            </div>
            <div class="vitrine-carousel-indicator">
                {% for item in featured_content %}
                    <span class="indicator {% if forloop.first %}active{% endif %}"></span>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="about-me">
        <div class="about-titre">
            <h2>Qui suis-je ?</h2>
        </div>
        <div class="about-container">
            <div class="about-text">
                <p>Je m'appelle Gabrielle, diplômée en Information et Communication, et passionnée par le design graphique et l’art digital. Mon parcours m’a amenée à explorer la création visuelle sous toutes ses formes, mêlant esthétique et sens du message.<br>
                    <br>
                    Sur ce site, vous trouverez mon portfolio, où je partage mes créations personnelles ainsi que des exemples de projets réalisés dans un cadre professionnel. Que ce soit pour du branding, de l'illustration ou du web design, je mets ma créativité au service d’une identité visuelle forte et impactante.<br>
                    <br>
                    Bonne visite, et n’hésitez pas à me contacter pour toute collaboration !</p>
            </div>
        </div>
    </section>

    <div class="home-nav-button-container">
        <div class="home-nav-button">
            <a href="{% url 'portfolio' %}">Ce que j'ai pu expérimenter</a>
        </div>
        <div class="home-nav-button">
            <a href="{% url 'realisations' %}">Ce que j'ai pu réaliser</a>
        </div>
        <div class="home-nav-button">
            <a href="{% url 'services' %}">Ce que je peux vous proposer</a>
        </div>
    </div>




{% endblock %}
