{% extends "base.html" %}
{% load static %}
{% block title %}
Mention Légales | CGV - Gabrielle
{% endblock %}

{% block content %}
<section id="mentions-legales">
    <h1>Mentions légales</h1>
    <p>En vigueur au 25/02/2025</p>
    <p>Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la Confiance en l’économie
    numérique, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' <b>"Utilisateur"</b>, du site
    www.gabrielle-croguennec.fr , ci-après le <b>"Site"</b>, les présentes mentions légales.<br>
    La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans
    réserve des présentes mentions légales.<br>
    Ces dernières sont accessibles sur le Site à la rubrique <b>"Mentions légales"</b>.</p>
    <h3>EDITION DU SITE</h3>
    <p>L’édition et la direction de la publication du Site est assurée par Madame Gabrielle Croguennec,
    domiciliée 45 RUE JEAN BAPTISTE GREUZE 11000 CARCASSONNE, dont le numéro de téléphone
    est 07 78 13 47 48, et l'adresse e-mail gabrielle.croguennec23@gmail.com.<br>
    <b>ci-après l'"Editeur".</b></p>
    <h3>ÉDITEUR</h3>
    <p>Gabrielle Croguennec<br>
    Numéro de SIRET : 929 366 474 00013<br>
    Numéro de TVA intracommunautaire : FR13929366474<br>
    Inscrit au RNE<br>
    Code APE : 7021Z<br>
    Adresse : 45 RUE JEAN BAPTISTE GREUZE 11000 CARCASSONNE<br>
    Téléphone : 07 78 13 47 48<br>
    Adresse e-mail : gabrielle.croguennec23@gmail.com</p>
    <h3>HEBERGEUR</h3>
    <p>L'hébergeur du Site est la société IONOS, dont le siège social est situé au Elgendorfer Str. 57 56410
    Montabaur .</p>
    <h3>ACCES AU SITE</h3>
    <p>Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout
    moment, suspendre, limiter ou interrompre le Site afin de procéder, notamment, à des mises à jour ou
    des modifications de son contenu. L'Editeur ne pourra en aucun cas être tenu responsable des
    conséquences éventuelles de cette indisponibilité sur les activités de l'Utilisateur.<br>
    Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,
    sans autorisation expresse de l’Editeur est prohibée et pourra entraîner des actions et poursuites
    judiciaires telles que prévues par la règlementation en vigueur.<br>
    Pour plus d’informations, se reporter aux CGV du site www.gabrielle-croguennec.fr accessibles
    depuis la rubrique "CGV".</p>
</section>
<section id="cgv">
    <h1>Conditions Générales de Vente (CGV)</h1>
    <p>Toute prestation commence par un échange et l’émission d’un devis détaillé. La validation du devis, accompagnée du paiement d’un acompte de 30 %, marque le début du travail.</p>
    <h3>Délais & Livraison</h3>
    <p>Les délais de réalisation sont précisés lors de l’acceptation du devis. Les livraisons s’effectuent sous format numérique (JPEG, PNG, PDF, SVG ou autre selon les besoins).</p>
    <h3>Modifications & Retouches</h3>
    <p>Chaque prestation inclut un nombre défini de retouches (précisé dans le devis). Toute modification supplémentaire pourra faire l’objet d’une facturation additionnelle.</p>
    <h3>Tarifs & Paiement</h3>
    <p>Les tarifs sont indiqués sur le devis et varient selon la complexité du projet.</p>
    <ul>
        <li>30 % d’acompte à la commande</li>
        <li>Solde à régler à la livraison</li>
        <li>Paiement via virement bancaire</li>

    </ul>
    <h3>Propriété Intellectuelle</h3>
    <p>Jusqu’au paiement intégral, les créations restent ma propriété. Une fois le solde réglé, le client dispose des droits d’exploitation définis dans le devis (usage commercial ou personnel).</p>
    <h3>Annulation & Remboursement</h3>
    <p>Que l’annulation intervienne avant le début du projet ou pendant, l’acompte reste dû.</p>
    <h3>Responsabilité</h3>
    <p>Le client est responsable des informations fournies (textes, images, logos). Je ne peux être tenue responsable d’éventuels litiges liés à l’utilisation de ces éléments.</p>
    <h3>Confidentialité</h3>
    <p>Toutes les informations échangées restent confidentielles. Je me réserve toutefois le droit d’ajouter certaines créations à mon portfolio (sauf mention contraire du client).</p>
    <h3>Acceptation des CGV</h3>
    <p>La validation du devis implique l’acceptation sans réserve de ces CGV.</p>
</section>
{% endblock %}